<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springf ramework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        
        <bean id="io" class="com.harsh.ioc.water" autowire="byType" scope="">
        <property name="type"  value="salt"></property>
        
       <property name="f"  ref="fish"></property> 
        </bean>
        
        <bean id="fish" class="com.harsh.ioc.Fish">
        <property name="type" value="star"></property>
         </bean> 
        
        </beans>