<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Liberary</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AboutMe</servlet-name>
    <servlet-class>Msg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutMe</servlet-name>
    <url-pattern>/aboutMe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Helpline</servlet-name>
    <servlet-class>Helpline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Helpline</servlet-name>
    <url-pattern>/helpline</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeLogOut</servlet-name>
    <servlet-class>HomeLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeLogOut</servlet-name>
    <url-pattern>/homeLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelpLineLogOut</servlet-name>
    <servlet-class>HelpLineLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpLineLogOut</servlet-name>
    <url-pattern>/helpLineLogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MsgLogout</servlet-name>
    <servlet-class>MsgLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgLogout</servlet-name>
    <url-pattern>/msgLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginSucces</servlet-name>
    <servlet-class>LoginSucces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSucces</servlet-name>
    <url-pattern>/loginsucces</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>StudentRegisteration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/studentregisteration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminStudentView</servlet-name>
    <servlet-class>AdminStudentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStudentView</servlet-name>
    <url-pattern>/adminStudentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookInfo</servlet-name>
    <servlet-class>BookView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookInfo</servlet-name>
    <url-pattern>/bookView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>AddBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBookToTable</servlet-name>
    <servlet-class>AddBookToTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookToTable</servlet-name>
    <url-pattern>/addBookToTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveBook</servlet-name>
    <servlet-class>ReceiveBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveBook</servlet-name>
    <url-pattern>/receiveBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReceiveBookToTable</servlet-name>
    <servlet-class>ReceiveBookToTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReceiveBookToTable</servlet-name>
    <url-pattern>/receiveBookToTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllocatingBook</servlet-name>
    <servlet-class>AllocatingBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocatingBook</servlet-name>
    <url-pattern>/allocatingBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllocatingBookToTable</servlet-name>
    <servlet-class>AllocatingBookToTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllocatingBookToTable</servlet-name>
    <url-pattern>/allocatingBookToTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentView</servlet-name>
    <servlet-class>StudentView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentView</servlet-name>
    <url-pattern>/studentView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentBookInfo</servlet-name>
    <servlet-class>StudentBookInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentBookInfo</servlet-name>
    <url-pattern>/studentBookInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageTotable</servlet-name>
    <servlet-class>ImageTotable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageTotable</servlet-name>
    <url-pattern>/imageTotable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Displayimage</servlet-name>
    <servlet-class>Displayimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displayimage</servlet-name>
    <url-pattern>/displayimage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>First</display-name>
    <servlet-name>First</servlet-name>
    <servlet-class>com.jspider.project.First</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>First</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Second</display-name>
    <servlet-name>Second</servlet-name>
    <servlet-class>com.jspider.project.Second</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Second</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.jspider.project.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
</web-app>